$MAX-WIDTH: 1200px;
$MAIN-COLOR: #3a3939;
$INFO-COLOR: #ee7a23;
$DANGER-COLOR: #d1434a;
$FONT-COLOR: #666;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  color: $FONT-COLOR;
  letter-spacing: 1.5px;
}
li{
  list-style: none;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clearfix::after{
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.active{
  color: $INFO-COLOR;
}

// 无信息
.no-msg{
  font-size: 12px;
  color: #999999;
}

// 选择框
@mixin circle ($circleW: 20px, $circleH: 20px) {
  display: inline-block;
  border: 1px solid #999;
  width: $circleW;
  height: $circleH;
  margin: 0 14px;
  border-radius: 100%;
  &:hover{
    cursor: pointer;
  }
}
@mixin checked-circle ($circleW: 20px, $circleH: 20px) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $circleW;
  height: $circleH;
  margin: 0 14px;
  line-height: 0;
  border-radius: 100%;
  background: $DANGER-COLOR;
  &:hover{
    cursor: pointer;
  }
  .white-dot{
    display: inline-block;
    width: $circleW * 0.3;
    height: $circleH * 0.3;
    line-height: 0;
    border-radius: 100%;
    background: #fff;
  }
}

// cursor
button[disabled]{
  cursor: not-allowed !important;
}